# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List of popular languages for Data Science
- List of libraries used in Data Science
- Table of Data Science Tools
- Exemplary evaluation of arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. TensorFlow
3. Pandas
4. Keras

| __Data Science Tools__ |
|------------------------|
| VS Code |
| Jupyter Notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then ad integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

A